.admin-add-product-outer-scope {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-add-product-header h1, .admin-add-product-name-label,
.admin-add-product-description-label, .admin-add-product-price-label,
.admin-add-product-stock-label, .admin-add-product-image-label {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(53, 143, 92);
}

.admin-add-product-name-label,
.admin-add-product-description-label, .admin-add-product-price-label,
.admin-add-product-stock-label, .admin-add-product-image-label {
    padding: 2em 0 1em 0;
}

.admin-add-product-name-input, .admin-add-product-description-input,
.admin-add-product-price-input, .admin-add-product-stock-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-add-product-name-input input, .admin-add-product-description-input input,
.admin-add-product-price-input input, .admin-add-product-stock-input input {
    width: 150px;
} 


.file-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.file-upload-wrapper button {
    padding: 0.5em 1em;
    cursor: pointer;
}

.admin-add-product-btn-scope {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.add-product-btn, .fileinput {
    padding: 0.5em 1em;
    color: rgb(53, 143, 92);
    background-color: rgb(161, 255, 202);
    border-radius: 0.4em;
}

#fileName {
    color: rgb(53, 143, 92);
}

.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}