body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  #d0fcef;
}

.dashboard-stats h1, h2 {
    text-align: center;
    padding-top: 1em;
    color:rgb(26, 102, 26);
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #000000;
    padding: 8px 12px;
    text-align: left;

}

th {
    background-color: rgba(138, 255, 166, 0.829);
    color: rgb(26, 102, 26);
}

td {
    color: rgb(64, 122, 64);
    
}

table tbody tr:nth-child(odd) {
    background-color: rgb(197, 250, 220);
}

.pagination {
    padding: 1em 0;
    text-align: center;
}