.cart-total h3, .cart-checkout {
    text-align: center;
}

.cart-total h3 {
    color: rgb(53, 143, 92);
}

.cart-checkout a {
    padding: 0.5em 1em;
    border-radius: 0.4em;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgba(138, 255, 166, 0.829);;
    background-color: rgba(138, 255, 166, 0.829);
    color: rgb(53, 143, 92);
}