{% block content %}
    <div class="login-outer-scope">
        <h1>Login</h1>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="login-credentials">
                <div class="username-label">
                    {{form.username.label}}
                </div>

                <div class="username-input">
                    {{form.username(class="username-input-field")}}
                </div>

                <div class="password-label">
                    {{form.password.label}}
                </div>

                <div class="password-input">
                    {{form.password(class="password-input-field")}}
                </div>

                <div class="btn-login-outer-scope">
                    {{form.submit(class="btn-login-submit")}}
                    <div class="register-outer-scope">
                        <a href="{{ url_for('register')}}">No account? Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
                {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <div class="flash danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock%}