<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tuckify{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="outer-ecommerce-scope">
        <div class="authenticated-user-scope">
            {% if current_user.is_authenticated %}
                <p class="authenticated-user">User: {{current_user.username}}</p>
            {% else %}
                <p class="unauthenticated-user">Anonymous</p>
            {% endif %}
        </div>

        <div class="outer-nav-bar-scope">
            <div class="inner-nav-bar-scope">
                <ul>
                    <li><a href="{{ url_for('shop') }}">Shop</a></li>

                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}

                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        <h1>Tuckify</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content%}

        {% endblock %}

        <footer>
            <p>&copy; {{ current_year }} My Ecommerce App</p>
        </footer>
    </div>
</body>
</html>