<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
</head>
<body>
    <div class="register-outer-scope-credentials">
        <h1>Register</h1>
        
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="register-username-label">
                {{ form.username.label}}
            </div>

            <div class="regiser-username-input">
                {{ form.username}}
            </div>

            <div class="register-password-label">
                {{ form.password.label}}
            </div>

            <div class="register-password-input">
                {{ form.password}}
            </div>

            <div class="register-confirm-passoword-label">
                {{ form.confirm_password.label}}
            </div>

            <div class="register-confirm-passowrd">
                {{ form.confirm_password }}
            </div>

            <div class="register-btn-scope">
                {{ form.submit(class="register-btn")}}
            </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <div class="flash danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>