{% extends "base.html" %}

{% block title %} Shop {% endblock %}

{% block content %}
    <div class="outer-shop-scope">
        <div class="products-grid">
            {% for product in products %}
                {% if product.id %}
                    <div class="product-card">
                        <h3>{{product.name}}</h3>
                        <p>{{product.description}}</p>
                        {% if product.image_filename %}
                        <img src="{{ url_for('static', filename='images/products/' + product.image_filename) }}" 
                             alt="{{ product.name }}" class="product-image">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/products/default.png') }}" 
                             alt="No image" class="product-image">
                        {% endif %}
                        <p>Price: ${{product.price}}</p>
                        <form method="POST" action="{{ url_for('add_to_cart', product_id=product.id )}}">
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="pagination">
            {% if has_prev %}
                <a href="{{ url_for('shop', page=page-1)}}">Previous</a>
            {% endif %}
            
            <span>Page {{ page }}</span>
            
            {% if has_next %}
                <a href="{{ url_for('shop', page=page+1)}}">Next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

